.ceo-report  .report-container {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  .ceo-report  .sidebar {
    width: 20%;
    background-color: #ffffff;
    border-right: 1px solid var(--primary-color);
    padding: 20px;
    padding-left: 12px;
  }
  .ceo-report  .sidebar h4 {
    border-bottom: 1px solid #E4E4E4;
    height: 46px;
    margin-bottom: 24px;
  }
  .ceo-report .tbl th {
    font-weight: 500;
    font-size: 16px;
    color: var(--dark-color);
    text-align: center !important;
  }
  .ceo-report .tbl td {
    font-weight: 500;
    font-size: 16px;
    color: var(--dark-gray-color);
    text-align: center !important;
  }
  .ceo-report  .ceo-report-container {
    width: 80%;
    padding: 20px;
    padding-right: 0px;
  }
  .ceo-report .left-container {
    padding-top: 0px !important;
    padding-left: 0px !important;
}
main.ceo-report.report-container.d-flex {
  padding: 0px 20px 20px 20px;
  box-shadow: unset !important;
  border: 0px;
  border-radius: 0px;
}
  .ceo-report  .filter-list {
    list-style-type: none;
    padding: 0;
  }
  
  .ceo-report  .filter-item {
    color: #555;
    cursor: pointer;
    padding: 0px 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    color: var(--dark-gray-color);
    border-radius: 4px;
  }
  
  .ceo-report  .filter-item.active {
    color: var(--primary-color);
    font-weight: 500;
    background-color: #FF9F5533;
    font-size: 16;
  }
  
  .ceo-report  .main-content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
  }
  
  .ceo-report  .report-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .ceo-report  .report-table th,
  .ceo-report  .report-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .ceo-report  .report-table th {
    background-color: #f2f2f2;
  }
  
  .ceo-report  .report-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .ceo-report  .action {
    color: #1e90ff;
    cursor: pointer;
  }
  
  .ceo-report  .no-data {
    text-align: center;
    padding: 20px;
    color: #999;
  }
  