.cost-estimation {
    font-family: Arial, sans-serif;
    padding: 20px;
    color: #606060;
  }
  

  .estimation-header {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
  }
  
  .estimation-header h2 {
    margin: 0;
    font-size: 16px;
    color: #333;
  }


  /* h1 {
    color: #333333;
    margin-bottom: 20px;
    font-size: 28px;
  } */
  
  .row {
    margin-bottom: 15px;
  }

  
  label {
    font-weight: bold;
  }
  
  .form-control {
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  
  .btn-primary {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #45a049;
  }
  
  .table-first {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table-first th, 
  .table-first td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    border: 1px solid #C3C3C3;
  }
  
  .table-first th {
    background-color: #DEDEDE;
    color: #333333;
  }

  .savedraft{
    padding: 10px 45px;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 5px;
  }

   .actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
   .submit {
    padding: 10px 45px;
    border: none;
    background-color: #FF6F00;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .submit:hover {
    background-color: #FF6F00;
  }
