.open-ce {
    font-family: Arial, sans-serif;
    padding: 20px;
    color: #606060;
  }
  

  .estimation-header {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
  }
  
  .estimation-header h2 {
    margin: 0;
    font-size: 16px;
    color: #333;
  }

  .form-control {
    width: 380px;
    height: 52px;
    /* padding: 8px; */
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .input-field {
    border: 1px solid #ddd;
    padding: 8px;
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
  }




  .header-container {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding-bottom: 10px;
  }
  
  h1 {
    color: #333;
    margin-bottom: 0; 
  }
  
  h3 {
    display: flex;
    font-size: 20px;
    color: #FF6F00 ;
    align-items: center; 
    margin-top: 10px;
    gap: 5px; 
  }

  .project-info {
    margin-bottom: 20px;
  }
  
  .row {
    display: flex;
    gap: 20px;
  }
  
  .col {
    flex: 1;
  }
  
  .cost-estimation-opence {
    color: #555;
    margin-bottom: 10px;
  }
/*   
  p {
    margin: 5px 0;
  }
   */
  .btn-approval {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .btn-approval:hover {
    background-color: #45a049;
  }


  .add-btn{
    display: flex;
    gap: 10px;
    color: #FF6F00;
    justify-content: flex-end;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .savedraft{
    padding: 10px 45px;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 5px;
  }

   .actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
   .submit {
    padding: 10px 45px;
    border: none;
    background-color: #FF6F00;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .submit:hover {
    background-color: #FF6F00;
  }



 
 