.site-selector {
    width: 250px;
    margin-bottom: 10px;
}
  
.table-container {
    max-height: auto;
    overflow-y: auto;
    padding: 15px;
}

/* Increase table width */
.table {
    width: 100%;
    border: none;
}


.required-quantity {
    color: red;
    font-weight: bold;
}
/* Increase table width */
.tbl {
    width: 600px;
  }
  
  /* Reduce row height */
  .tbl th, .tbl td {
    padding: 5px; /* Reduce padding for smaller row height */
    text-align: center;
    vertical-align: middle;
    width: auto;
  }
  
  /* Style for 0 Meter */
  .zero-required {
    color: gray;
    font-weight: bold;
  }
  