.page-add-task.full-width .left-container {
  padding: 0px;
  width: 99%;
}

.page-add-task .left-container>.row {
  padding: 20px;
}
.tbl.foundation-work tr td:nth-child(2) {
  width: 236px;
}
.tbl.foundation-work .form-select {
  background: transparent;
  border: 0px !important;
  color: #606060;
  font-size: 16px;
  font-weight: 500;
  background-image: url("../../../../assets/images/icon-down-arrow.svg");
  background-repeat: no-repeat;
  background-position: right;
  padding: 0px 12px;
  cursor: pointer;
}

.tbl.foundation-work .form-select:focus {
  border: 0px;
  box-shadow: unset;
}
.tbl.foundation-work {
  width: 100% !important;
}
.tbl.foundation-work tbody tr td, .tbl.foundation-work thead tr th {
  width: 140px;
  padding: 10px;
}
.tbl.foundation-work tbody tr td:first-child, .tbl.foundation-work thead tr th:first-child {
  width: 112px;
}
.tbl.foundation-work tbody tr td:nth-child(2), .tbl.foundation-work thead tr th:nth-child(2) {
  width: 240px;
}

.tbl.foundation-work tbody tr td:last-child, .tbl.foundation-work thead tr th:last-child {
  width: 156px;
}

@media (max-width: 1440px) {
  main.page-add-task .left-container {
    width: 100%;
    max-width: 100%;
  }
}