.boq-form {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .breadcrumb {
    border-bottom: 1px solid #E4E4E4;
    height: 60px;
    align-items: center;
    justify-content: flex-start;
  }
  
  .text-orange {
    color: #ff6600;
  }
  
  .form-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .boq-table th {
    background: #ff6600;
    color: white;
    text-align: center;
  }
  
  .boq-table td {
    text-align: center;
    vertical-align: middle;
  }
  
  .add-column-btn {
    font-weight: bold;
  }
  
  .submit-btn {
    background-color: #ff6600;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .submit-btn:hover {
    background-color: #e65c00;
  }
  .page-engineer-material.create .form-select {
    height: 52px;
    background: #ffffff;
    border: 1px solid #C1C1C1;
    background-image: url("../../../../assets/images/icon-down-arrow.svg");
    background-position: 98%;
    background-repeat: no-repeat;
}
.boq-table td, .boq-table th {
  height: 44px !important;
  padding: 0px !important;
}
.boq-table td input, .boq-table td input:focus {
  padding: 0px 10px !important;
  height: 44px !important;
  border: 0px !important;
}
.page-engineer-material.create  .btn-primary {
  margin: 10px 0px 10px auto !important;
  width: 180px;
  height: 48px;
}
.page-engineer-material  .btn-primary:hover {
  background-color: var(--primary-color) !important;
  color: #ffffff !important;
}
.page-engineer-material.create .tbl {
  width: 100%;
}
.page-engineer-material button.btn-add-row:hover {
  background-color: unset !important;
  color: var(--primary-color) !important;
}
  @media (max-width: 768px) {
    .boq-form {
      padding: 10px;
    }
  
    .form-title {
      font-size: 18px;
    }
  
    .boq-table th, .boq-table td {
      font-size: 12px;
    }
  
    .submit-btn {
      width: 100%;
    }
  }
  